.landing-page {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.backgroundPoster {
    position: relative;
    width: 100%;
    height: 100vh;
}


.posterWritings {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgb(251, 250, 250);
    font-size: 5rem;
    font-style: italic;
    text-align: left;
    width: 50%;
}