.pdp {
    padding: 20px;
    background: linear-gradient(to right, #f1f2f3, #afd0f9);
}

.product-details {
    display: flex;
}

.details-image {
    flex: 1;
    max-width: 50%;
    height:  75.01472556894244vh;
}

.details {
    flex: 1;
    padding: 20px;
}

.product-price{
    color: red;
    font-weight: 800;
}

.product-desc{
    font-weight: 900;

}

.product-specs{
    font-weight: 300;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px 80px;
    z-index: 1000;
}

.popup-content {
    text-align: center;
}

.popup-content button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #0056b3;
}

.product-buttons{
    display: flex;
    gap: 20px;
}

.cart-button{
    color: white;
    background-color: rgb(206, 53, 53);
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.back-button{
    color: white;
    background-color: rgb(21, 78, 147);
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.product-button:hover{
    background-color: rgb(229, 89, 89);
}